
.footer{
  
  color: white;
  padding: 10px;
  background: linear-gradient(to right, #434343, #000000);

}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;


}

.footer a:hover{
  border-bottom: 1px solid cyan;
  color: #61dafb;
}


.btnpage{
  border: 1px solid gray;
  color: #000000;
  text-decoration: none;
  border-radius: 05px;
  margin-top: 20px;
  padding: 04px 40px;

}

.fourtofour{
  margin-top: 60px;
}

.register{
  
  
}

.login{
  margin-top: 160px;
  margin-bottom: 160px;
  margin-left: 400px;
  margin-right: 400px;
   
}


#regdiv{
  margin-top: 40px;
  margin-bottom: 40px;
}

.googlebtn{
  width: 230px;
  margin-top: 40px;
  margin-left: 160px;
 
}

.sign{
  text-align: center;
  margin-top: 60px;
}